[Desktop Entry]
Encoding=UTF-8
Name=Link to Code Artifacts and Schemas - The Calendaring and Scheduling Consortium
Type=Link
URL=http://calconnect.org/artifacts.shtml
Icon=text-html
