[Desktop Entry]
Encoding=UTF-8
Name=Link to Code Artifacts and Schemas - The Calendaring and Scheduling Consortium
Type=Link
URL=http://www.calconnect.org/artifacts/ical-art.shtml
Icon=text-html
